<p id="notice"><%= notice %></p>
<p>
  <strong>Exercise Name:</strong>
  <%= @exercise.name %>
</p>
<p>
  <strong>Exercise Type</strong>
  <%= @exercise.exercise_type %>
</p>
<p>
<strong>Target Muscle:</strong> 
<%= @exercise.target %><br>
</p>
<p>
  <strong>Notes:</strong> 
  <%= @exercise.info %><br>
</p>

<ol class="exercises">
     <% @exercises.to_a.each do |exercise| %>
  <li>
    <ol class="reps">
      <% exercise.reps.each do |rep| %> 
      <li>
       <strong> Rep Amount:</strong> <%= rep.rep_amount %><br>
       <strong> Rep Weight:</strong> <%= rep.rep_weight %>
      </li>
      <% end %>
    </ol>
  </li>
<% end %>
</ol>

<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Edit Exercise', edit_exercise_path(@exercise)%></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'Back to List', exercises_path %></button>
<button id='ecreate' class='btn btn-small btn-primary'><%= link_to 'View Workout List', workouts_path %></button>